/* App.js Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
}
 
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
 
.chatbox-container {
  width: 400px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
 
.chatbox-header {
  background-color: #0076CE;
  color: #ffffff;
  padding: 10px;
  text-align: center;
}
 
.chatbox-body {
  height: 400px;
  overflow-y: auto;
  padding: 10px;
}
 
.message {
  margin: 10px 0;
  padding: 8px;
  border-radius: 5px;
}
 
.user {
  background-color: #f0f0f0;
  text-align: right;
}
 
.bot {
  background-color: #b0e57c;
}
 
.user-input {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  padding: 10px;
}
 
.user-input input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}
 
.user-input button {
  padding: 8px 15px;
  background-color: #0076CE;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
 
h1 {
  text-align: center;
  color: #0076CE;
  margin-bottom: 5px;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  /*height: 60vh; /* Reduce the height to create less space */
}
.App {
  text-align: center;
  padding-top: 20px; /* Add some padding at the top */
}
.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
 
.logo-image {
  width: 100px; /* Adjust the width and height as needed */
  height: 100px;
  /* Add any other styling for the logo image, e.g., border, shadow, etc. */
}